@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

:root {
    --primary-yellow: hsl(47, 88%, 63%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-grey: hsl(0, 0%, 50%);
    --neutral-black: hsl(0, 0%, 7%);
}

* {
    font-family: 'Figtree', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-yellow);
}

.main__container {
    max-width: 380px;
    margin: 7.5rem auto;
    padding: 1.25rem;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px var(--neutral-black);
}

.header img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1.25rem;
}

.description__container {
    display: flex;
    flex-direction: column;
}

.status {
    background-color: var(--primary-yellow);
    padding: 5px 10px;
    width: fit-content;
    border-radius: 5px;
    font-weight: 800;
    margin-bottom: 1rem;
}

.published {
    margin-bottom: 1rem;
}

.artile__title {
    margin-bottom: 1.25rem;
    transition: .3s ease;
}

.artile__title:hover {
    cursor: pointer;
    color: var(--primary-yellow);
}

.article__description {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--neutral-grey);
    margin-bottom: 1.25rem;
}

.author__container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.author__container img {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 375px) {
    .main__container {
        width: 290px;
    }

    .artile__title {
        font-size: 20px;
        font-weight: bold;
    }
}